body {
  background-color: #03191E;
  color: white;
  margin: 0;
  font-family: 'Merriweather', serif;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: relative; }

audio {
  width: 50%;
  height: 25px;
  margin: 0 auto;
  display: block; }

audio::-webkit-media-controls-panel {
  width: 25vw;
  background-color: deeppink; }

audio::-webkit-media-controls-timeline {
  margin: 25px; }

audio::-webkit-media-controls-play-button {
  display: none; }

.ui-main-button {
  width: 20%;
  border: none;
  margin: 2%;
  font-size: 35px;
  text-align: center;
  transition: 1s; }
  .ui-main-button:hover {
    color: deeppink;
    transition: 0.8s; }

.ui-navigation-button {
  width: 20%;
  border: none;
  margin: 2%;
  font-size: 20px;
  text-align: center;
  transition: 1s; }
  .ui-navigation-button:hover {
    color: deeppink;
    transition: 0.8s; }

.ui-player-position {
  width: 100vw;
  height: 15vh;
  position: absolute;
  margin: 0vh auto;
  background-color: #192D32;
  box-shadow: 0 0 20px black;
  cursor: pointer;
  transition: 1s;
  bottom: 0; }
  .ui-player-position:hover {
    box-shadow: 0 0 15px deeppink;
    transition: 0.8s; }

.ui-playList-position {
  list-style: none;
  width: 40%;
  position: absolute;
  left: 4vw;
  bottom: 5vh;
  height: 80vh;
  border-right: 1px solid white;
  overflow-x: auto; }

.ui-playList-default {
  border: solid 1px deeppink;
  margin: 5%;
  box-shadow: 0 0 0px black;
  cursor: pointer;
  transition: 1s; }
  .ui-playList-default:hover {
    transition: 0.8s;
    box-shadow: 0 0 20px deeppink; }

.ui-playList-default p {
  display: inline-block;
  padding: 2%; }

.ui-playList-selected {
  border: solid 1px deeppink;
  margin: 5%;
  box-shadow: 0 0 20px #be2378;
  cursor: pointer;
  transition: 1s; }
  .ui-playList-selected:hover {
    transition: 0.8s;
    box-shadow: 0 0 5px deeppink; }

.ui-playList-position p {
  display: inline-block;
  padding: 2%; }

.ui-btnlist-position {
  width: 40%;
  margin: 1% auto;
  text-align: center; }

.ui-titleband-position {
  display: inline-block;
  padding: 1% 2%;
  position: absolute;
  top: 0;
  margin: 0; }

.ui-titlesong-position {
  display: inline-block;
  margin: 2% 2%;
  position: absolute;
  top: 10%;
  padding: 5px 0%;
  border-bottom: 1px solid deeppink; }

.ui-songImage-size {
  width: 400px;
  height: 400px;
  border: 1px solid deeppink;
  position: absolute;
  right: 8vh;
  bottom: 20vh;
  overflow: hidden;
  text-align: center; }

.ui-albumcover-width {
  height: 100%; }

.ui-bodyplayer-default-layout {
  border-top: solid 1px deeppink;
  height: 85vh;
  width: 99vw;
  position: relative;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  right: 0;
  transition: 3s ease; }

.ui-bodyplayer-moved-layout {
  border-top: solid 1px deeppink;
  height: 85vh;
  width: 99vw;
  position: relative;
  bottom: 0;
  left: 50vw;
  margin: 0 auto;
  right: 0;
  transition: 3s; }

.ui-homelist-hidden-position {
  list-style: none;
  width: 40%;
  position: absolute;
  left: -50%;
  bottom: 8.5%;
  height: 80vh;
  border: 1px solid deeppink;
  overflow-x: auto;
  transition: 2s; }

.ui-homelist-showing-position {
  list-style: none;
  width: 40%;
  position: absolute;
  left: 11%;
  bottom: 8.5%;
  height: 80vh;
  border: 1px solid deeppink;
  overflow-x: auto;
  transition: 2s; }

.ui-right-float {
  float: right; }

.ui-left-float {
  float: left; }

.ui-nav-layout {
  cursor: pointer;
  list-style: none;
  margin: 1% 10% 0 6%;
  display: inline-block;
  border-bottom: 1px solid #03191E;
  transition: 0.8s; }
  .ui-nav-layout:hover {
    border-bottom: 1px solid deeppink;
    transition: 0.8s; }

.ui-sorter-style {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  margin: 2px;
  transition: 0.8s;
  border-bottom: 1px solid #03191E;
  transition: 0.8s; }
  .ui-sorter-style:hover {
    border-bottom: 1px solid deeppink;
    transition: 0.8s; }

.ui-sortList-showing-position {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  top: 6.3%;
  left: 12%;
  position: absolute;
  transition: 2s; }

.ui-sortList-hidden-position {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  top: 6.3%;
  left: -50%;
  position: absolute;
  transition: 2s; }

.ui-sortHome-position {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -6%;
  left: 7%; }

.ui-navTabs-margin {
  padding: 0;
  margin: 2% 0% 5% 2%; }

/*# sourceMappingURL=style.css.map */
